*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: fit-content;
  width: 80%;
  background-color: rgb(232, 207, 207);
  margin: 0 auto;
}

.intro-text{
  text-align: center;
  font-family: 'Fredoka', sans-serif;
}

h1{
  color: #E53170;
  padding: 40px;
  font-size: 40px;
}

.box{
  background-color: #0F0E17;
  width: calc(100% / 3);
  height: fit-content;
  display: inline-block;
  margin: 20px;
}

ol{
  list-style: none;
}

.float-right{
  float: right;
}

.float-left{
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.intern-text{
  font-size: 10px;
  color: white;
  margin: 30px;
}

img{
  max-width: 100%;
  height: 100px;
  float: left;
  margin-right: 10px;
}